.menu-icon {
  background: var(--background);
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 5000;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  .icon {
    height: 30px;
    width: 30px;
    color: var(--text);
  }
}
