.loadingIcon {
  color: rgba(54, 54, 60, 0.3);
  font-size: 30px;
  margin-top: 80px;
}

.drawer {
  position: absolute;
  height: 100vh;
  width: 100vw;
  border-radius: 25px 25px 0 0;
  background: white;
  z-index: 1000;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
  &.transitioning {
    transition: all 0.1s ease-in-out;
  }
  &-drag {
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    .bar {
      height: 4px;
      border-radius: 5px;
      width: 30px;
      background: #aab7c2;
    }
  }
  .countryContent {
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    &-header {
      width: 80%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin: 0 auto;
      .flag {
        width: 30px;
        flex: none;
        margin-left: 15px;
      }
      .details {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-left: 10px;
        width: 55%;
        .title {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          word-break: break-word;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 16px;
          margin: 0;
          margin-bottom: 3px;
        }
        .updated {
          margin: 0;
          font-size: 11px;
          color: #aab7c2;
          text-overflow: ellipsis;
          overflow: hidden;
          width: 100%;
          min-height: 12px;
        }
      }
    }
    &-stats {
      width: 90%;
      max-width: 100%;
      height: 70%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      padding: 20px;
      margin: -15px auto;

      .stat-el {
        padding: 15px 0;
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
        background: white;
        border: 1px solid #efefef;
        border-radius: 40px;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: default;

        margin-top: 15px;
        margin-bottom: 15px;
        &-inner {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        &-number {
          font-size: 25px;
          font-weight: 700;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 38px;
        }
        &-name {
          color: #aab7c2;
          font-weight: 700;
          text-transform: uppercase;
          font-size: 11px;
          white-space: nowrap;
          max-width: 90%;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
    &-graph {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      &-header {
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto 20px auto;
        .title-container {
          .title {
            font-weight: 600;
            font-size: 13px;
            letter-spacing: -0.5px;
            margin: 0;
          }
          .updated {
            margin: 0;
            font-size: 12px;
            text-decoration: none;
            color: #aab7c2;
            font-weight: 500;
            display: inline-flex;
            text-transform: none;
            align-items: center;
            justify-content: center;
          }
        }
        .filter-container {
          display: flex;
          justify-content: center;
          align-items: center;
          .filter {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            position: relative;
            &:first-child {
              margin-left: 10px;
            }
            &.infected {
              background: rgba(255, 65, 108, 1);
            }
            &.recovered {
              background: rgba(96, 206, 129, 1);
            }
            &.deaths {
              background: rgba(135, 66, 230, 1);
            }
            &.active {
              background: rgba(40, 110, 255, 1);
            }
            &.none {
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
            }
            .transparent {
              position: fixed;
              // background: blue;
              width: 100vw;
              height: 100vh;
              top: 0;
              right: 0;
            }
            .filterOptions {
              position: absolute;
              top: 35px;
              left: 0;
              width: 180px;
              padding: 10px;
              background: white;
              border-radius: 15px;
              box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
              &-option {
                display: flex;
                align-items: center;
                .icon {
                  width: 20px;
                  height: 20px;
                  border-radius: 50%;
                  margin-left: 10px;
                  &.infected {
                    background: rgba(255, 65, 108, 1);
                  }
                  &.recovered {
                    background: rgba(96, 206, 129, 1);
                  }
                  &.deaths {
                    background: rgba(135, 66, 230, 1);
                  }
                  &.active {
                    background: rgba(40, 110, 255, 1);
                  }
                  &.none {
                    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
                  }
                }
                .title {
                  font-weight: 600;
                  font-size: 14px;
                }
              }
            }
          }
        }
      }
      &-container {
        margin: 0 auto;
        margin-bottom: 100px;
      }
    }
  }
}
