.register-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 99999;
  background: var(--background);
  @media only screen and (min-width: 600px) {
    width: 750px;
    height: 600px;
    align-items: center;
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
    border-radius: 15px;
    overflow: hidden;
  }
  &-header {
    width: 100%;
    padding: 0px;
    font-weight: 500;
    min-height: 60px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    background: #ff416c;
    color: white;
    @media only screen and (min-width: 600px) {
      width: 33%;
      height: 100%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  &-container {
    @media only screen and (min-width: 600px) {
      width: 50%;
      margin: 0 auto;
      align-self: flex-start;
    }
  }
  &-title {
    font-size: 16px;
    font-weight: 500;
    width: 100%;
    padding: 20px;
    @media only screen and (min-width: 600px) {
      font-size: 40px;
      width: auto;
      padding: 10px 20px;
    }
  }
  &-phrase {
    padding: 0 20px;
  }
  &-close {
    padding: 20px;
    @media only screen and (min-width: 600px) {
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  &-item {
    width: 90%;
    height: 60px;
    background: var(--hover);
    color: var(--text);
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
    @media only screen and (min-width: 600px) {
      width: 100%;
      margin: 20px auto 30px auto;
    }
    .icon {
      margin: 0 20px 0 15px;
      height: 20px;
    }
    .action {
      font-size: 12px;
      font-weight: 600;
      flex-grow: 1;
    }
    .status {
      border: 2px solid #aab7c2;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      margin-left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      .disabled {
        width: 50%;
        height: 3px;
        background: white;
      }
      &.disabled {
        background: red;
        border: 2px solid red;
      }
      &.completed {
        width: 31px;
        content: '';
        height: 31px;
        border: 0px;
        background-image: url(/assets/checkmark-success.svg);
        font-size: 16px;
        background-position: center center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  &-form {
    background: var(--hover);
    width: 90%;
    margin: -20px auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.5s;
    transform-origin: top center;
    transform: scaleY(1);
    @media only screen and (min-width: 600px) {
      width: 100%;
    }
    & > input {
      border: none;
      background: var(--darker);
      width: 80%;
      margin: 20px auto;
      padding: 15px;
      border-bottom: 2px solid #aab7c2;
      font-size: 16px;
      &:focus {
        outline: none;
      }
      &:placeholder {
        font-size: 14px;
      }
    }
    .form-button {
      align-self: flex-end;
      background: #ff416c;
      border: none;
      color: white;
      font-weight: 600;
      font-size: 14px;
      width: max-content;
      padding: 10px 15px;
      border-radius: 5px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.25);
      margin-left: 10px;
      margin-bottom: 10px;
      &:focus {
        outline: none;
      }
    }
  }
}
.register-overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.38);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 95998;
}
