:root {
  --background: #fff;
  --card: #f3f3f3;
  --text: #36363e;
  --icon: #afafaf;
  --border: #efefef;
  --hover: #f3f3f3;
  --darker: #e5e4e5;
}

html body.dark {
  --background: #2c2c2f;
  --card: rgb(62, 63, 68);
  --text: #dedede;
  --border: #292929;
  --hover: #313238;
  --darker: rgba(16, 16, 16, 0.73);
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}
